body {
		*{
            margin:0; padding:0;
		}
	
		body{
            margin:0;
            padding:0;
            overflow-y: hidden; /*阻止滾動條的出現*/
            color:#fff;
		}

		li{
            list-style-type:none;
		}
		

		/* 每個區塊背景顏色*/
		.op-section{background-color:#1abc9c;}
		.second{background-color:#3598db;}
		.third{background-color:#34495e;}
		.fourth{background-color:#2ecc71;}
		.fifth{background-color:#8e44ad;}
		.last{background-color:#f39c12;}
		
		/*垂直圓點樣式*/
		#radioWrap{ 
			width:20px;
			height:180px;
			position:absolute;
			right:5%;
			top:50%;
			margin-top: -90px;

		}

		#radio{
            width:100%; height:100%; overflow: hidden;

		}

		#radio li{
			width:20px;
			height:20px;
			background-color: rgba(255,255,255, 0.5);
			text-indent: -10000px;
			border-radius: 50%;
			margin-top: 12px;
			cursor:pointer;

		}
		#radio li:first-child{
            margin-top:0;

		}
		
		/* 
			代表當前的section的圆點，需要將它设置為absolute，通過margin來調整他們之間的距離
		*/
		#radioOn{
			width:20px;
			height:20px;
			margin-bottom:12px;
			position: absolute;
			top:0; left:0;
			background-color: #fff;
			border-radius: 50%;}             


}



